# OSX #
.DS_Store
._*
.Spotlight-V100
.Trashes

# Windows #
Thumbs.db
Desktop.ini

# PHPStorm #
.idea/

# Eclipse #
.buildpath
.project
.settings

# Netbeans (custom) #
.netbeans/*
/nbproject/*

# Temp files #
*.tmp
*.bak
*.swp
*~.nib
*~

# Phing build script #
build.properties

# Packages #
*.zip
*.tar.*

# Packages directories #
build/packages/*
build/packaging/*
build/releases/*

# Build #
build/logs

# Composer files #
/composer.phar
/vendor/
/composer.lock

# Test related files #
/tests/system/servers/configdef.php
/tests/system/webdriver/tests/logs/
/tests/acceptance.suite.yml
/tests/_output/

# Never ignore #
!build/packages/index.html
!build/packaging/index.html
!.gitignore
!index.html
!index.php

# Don't commit unneeded files added by composer
/component/admin/vendor/joomla/github/.github
/component/admin/vendor/joomla/github/Tests
/component/admin/vendor/joomla/http/.github
/component/admin/vendor/joomla/http/Tests
/component/admin/vendor/joomla/registry/Tests
/component/admin/vendor/joomla/string/.github
/component/admin/vendor/joomla/string/Tests
/component/admin/vendor/joomla/uri/Tests
/component/admin/vendor/joomla/utilities/.github
/component/admin/vendor/joomla/utilities/Tests
