# Forces new Travis-CI Infrastructure
sudo: false

language: php

env:
  global:
    - RUN_PHPCS="no"

matrix:
  include:
    - php: 5.3
    - php: 5.4
    - php: 5.5
    - php: 5.6
      env: RUN_PHPCS="yes"
    - php: 7.0
    - php: hhvm
  allow_failures:
    - php: hhvm

before_script:
  # Make sure all dev dependencies are installed
  - composer install

script:
  - php .travis/phppec.php component/
  - if [[ $RUN_PHPCS == "yes" ]]; then php .travis/phpcs.php; fi
  - php .travis/phpmd.php
